{
    "BasedOnStyle"                                  : "Google",
    "Language"                                      : "Cpp",
    "AccessModifierOffset"                          : -1,
    "AlignAfterOpenBracket"                         : "Align",
    "AlignConsecutiveAssignments"                   : true,
    "AlignEscapedNewlinesLeft"                      : true,
    "AlignTrailingComments"                         : true,
    "AlignOperands"                                 : true,
    "AllowAllParametersOfDeclarationOnNextLine"     : true,
    "AllowShortFunctionsOnASingleLine"              : false,
    "AllowShortIfStatementsOnASingleLine"           : true,
    "AllowShortLoopsOnASingleLine"                  : true,
    "AlwaysBreakBeforeMultilineStrings"             : true,
    "AlwaysBreakTemplateDeclarations"               : true,
    "BinPackArguments"                              : false,
    "BinPackParameters"                             : false,
    "BreakBeforeBinaryOperators"                    : "NonAssignment",
    "BreakBeforeBraces"                             : "Custom",
    "BraceWrapping"                                 :
    {
        "AfterClass"                                : false,
        "AfterStruct"                               : false,
        "AfterControlStatement"                     : false,
        "AfterEnum"                                 : false,
        "AfterFunction"                             : false,
        "AfterNamespace"                            : false,
        "BeforeElse"                                : true,
        "BeforeCatch"                               : true,
    },
    "BreakBeforeTernaryOperators"                   : true,
    "BreakConstructorInitializersBeforeComma"       : false,
    "ColumnLimit"                                   : 120,
    "ConstructorInitializerAllOnOneLineOrOnePerLine": true,
    "ConstructorInitializerIndentWidth"             : 4,
    "ContinuationIndentWidth"                       : 4,
    "Cpp11BracedListStyle"                          : false,
    "DerivePointerBinding"                          : false,
    "ForEachMacros"                                 : ['BOOST_FOREACH'],
    "IndentCaseLabels"                              : true,
    "IndentFunctionDeclarationAfterType"            : true,
    "IndentWidth"                                   : 2,
    "KeepEmptyLinesAtTheStartOfBlocks"              : true,
    "MaxEmptyLinesToKeep"                           : 1,
    "NamespaceIndentation"                          : "None",
    "PenaltyBreakBeforeFirstCallParameter"          : 200,
    "PenaltyBreakComment"                           : 100,
    "PenaltyBreakFirstLessLess"                     : 0,
    "PenaltyBreakString"                            : 200,
    "PenaltyExcessCharacter"                        : 160,
    "PenaltyReturnTypeOnItsOwnLine"                 : 1000,
    "PointerAlignment"                              : "Left",
    "PointerBindsToType"                            : false,
    "SortIncludes"                                  : false,
    "SpaceBeforeAssignmentOperators"                : true,
    "SpaceBeforeParens"                             : "ControlStatements",
    "SpaceInEmptyParentheses"                       : false,
    "SpacesBeforeTrailingComments"                  : 2,
    "SpacesInAngles"                                : false,
    "SpacesInCStyleCastParentheses"                 : false,
    "SpacesInContainerLiterals"                     : false,
    "SpacesInParentheses"                           : false,
    "Standard"                                      : "Auto",
    "TabWidth"                                      : 2,
    "UseTab"                                        : "Never",
}

